.lc-section-involved {
	.hero-bg {
		position: relative;
		background: url('https://images.pexels.com/photos/715807/pexels-photo-715807.png?auto=compress&cs=tinysrgb&dpr=2&w=500');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		box-shadow: inset 0 0 0 2000px rgba(85, 121, 145, 0.7);
	}

	/*.hero-bg:before {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: rgba(0,0,0,0.9);
		z-index: -10;
	}*/
	.hero {
		padding-top: 3em;
		padding-bottom: 3em;
	}
	.button-center {
		margin-top: 1.5em;
		display: flex;
		justify-content: center;
	}
	.whisker-button {
		font-size: 1rem;
		font-weight: 600;
		/* line-height: 2.2rem;*/
		letter-spacing: normal;
		text-transform: uppercase;
		text-decoration: none;
		display: inline-block;
		/*  width: 10em;*/
		/*  padding: 1px 0;*/
		text-align: center;
		/*    margin: 4px 24px;*/
		position: relative;
		transition: 0.4s;
		&::before {
			content: '';
			position: absolute;
			width: 40px;
			height: 3px;
			background: #FFB209;
			top: calc(50% - 1.5px);
			right: 100%;
			transition: 0.4s;
		}
		&::after {
			content: '';
			position: absolute;
			width: 40px;
			height: 3px;
			background: #FEDC42;
			top: calc(50% - 1.5px);
			left: 100%;
			transition: 0.4s;
		}
		a {
			letter-spacing: 1.5px;
			background: #fff;
			width: 10em;
			padding: 9px 40px;
			span {
				background-image: linear-gradient(to right, #FFB209 20%, #FEDC42 81%);
				color: transparent;
				-webkit-background-clip: text;
				background-clip: text;
			}
		}
	}
	
	.border {
		background-image: -webkit-linear-gradient(left, #FFB209 20%, #FEDC42 81%);
		background-image: -o-linear-gradient(left, #FFB209 20%, #FEDC42 81%);
		background-image: linear-gradient(to right, #FFB209 20%, #FEDC42 81%);
		/*	padding: 3px;*/
		padding: 8px 3px;
		>div {
			background: #fff !important;
		}
	}
	
}




