{% extends 'partials/base.html.twig' %}

{% block content %}
<div class="lc-section-about">
         <section class="hero hero-bg is-primary">
            <div class="about-header">
               <div class="about-header-text">
                  <p class="title gradient-yellow">Why 180° of Impact?</p>
                  <p class="text">Lorem Khaled Ipsum is a major key to success. They don’t want us to eat.</p>
                  <a href="#" class="about-button">Watch the video</a>
               </div>
            </div>
         </section>
         <section class="section about-us">
            <div class="container">
               <p class="above-header-text">About Us</p>
               <p class="subtitle text-valign is-4 gradient-yb">our story:</p>
               <div class="columns">
                  <div class="column is-two-thirds">
                     <p class="text">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                     <p class="text">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                     <p class="text"> Eliptical talk. Let me be clear, you have to make it through the jungle to make it to paradise, that’s the key, Lion! How’s business? Boomin. It’s important to use cocoa butter. It’s the key to more success, why not live smooth? Why live rough?</p>
                  </div>
                  <div class="column is-one-third">
                     <figure class="image is-3by2 has-shadow">
                        <image src="https://images.unsplash.com/photo-1531545514256-b1400bc00f31?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80">
                     </figure>
                  </div>
               </div>
               <nav class="level is-mobile">
                  <div class="level-item has-text-centered">
                     <div>
                        <a href="#"><img class="image is-square" src="https://static1.squarespace.com/static/582b1a796b8f5b41b55eaf49/5ba970598165f522e475be34/5ba97059085229e608f0b291/1537832850095/947084_1013309635358981_7661660279413136191_n.jpg?format=300w"></a>
                     </div>
                  </div>
                  <div class="level-item has-text-centered">
                     <div>
                        <a href="#"><img class="image is-square" src="https://static1.squarespace.com/static/582b1a796b8f5b41b55eaf49/5ba970598165f522e475be34/5ba9785eeef1a1205e2bcd05/1537833120617/f153cdb8df8f0cdb60f49cce9390aa18.jpg?format=300w"></a>
                     </div>
                  </div>
                  <div class="level-item has-text-centered">
                     <div>
                        <a href="#"><img class="image is-square" src="https://static1.squarespace.com/static/582b1a796b8f5b41b55eaf49/5ba970598165f522e475be34/5ba9767124a694c2396cb8f9/1537832623990/20170606_174910_148670_mmsizzle_final_2mp400_01_23_13still001.jpeg?format=300w"></a>
                     </div>
                  </div>
                  <div class="level-item has-text-centered">
                     <div>
                        <a href="#"><img class="image is-square" src="https://static1.squarespace.com/static/582b1a796b8f5b41b55eaf49/5ba970598165f522e475be34/5ba9707f9140b71d9272c022/1537832785893/6195a7d939346b0b13c69beb78e383271133c74e49da96730ac956da4ec4c7e3.jpg?format=300w"></a>
                     </div>
                  </div>
                  <!-- s -->
                  <div class="level-item has-text-centered">
                     <div>
                        <a href="#"><img class="image is-square" src="https://static1.squarespace.com/static/582b1a796b8f5b41b55eaf49/5ba970598165f522e475be34/5ba9707f53450af1f8dd8d37/1537832762208/CHANGEMAKER_3000.jpg?format=300w"></a>
                     </div>
                  </div>
                  <div class="level-item has-text-centered">
                     <div>
                        <a href="#"><img class="image is-square" src="https://static1.squarespace.com/static/582b1a796b8f5b41b55eaf49/5ba970598165f522e475be34/5ba970f1e5e5f018ed0b067a/1537832735358/mic+round+table+chats.jpg?format=300w"></a>
                     </div>
                  </div>
                  <div class="level-item has-text-centered">
                     <div>
                        <a href="#"><img class="image is-square" src="https://static1.squarespace.com/static/582b1a796b8f5b41b55eaf49/5ba970598165f522e475be34/5ba9744c8165f522e475eb03/1537832714523/optionb-share-image.png?format=300w"></a>
                     </div>
                  </div>
                  <div class="level-item has-text-centered">
                     <div>
                        <a href="#"><img class="image is-square" src="https://static1.squarespace.com/static/582b1a796b8f5b41b55eaf49/5ba970598165f522e475be34/5ba974a3f4e1fc2155f0238e/1537832679928/9QZinSho_400x400.jpg?format=300w"></a>
                     </div>
                  </div>
                  <div class="level-item has-text-centered">
                     <div>
                        <a href="#"><img class="image is-square" src="https://static1.squarespace.com/static/582b1a796b8f5b41b55eaf49/5ba970598165f522e475be34/5ba975288165f522e475f419/1537832663874/logocircular.png?format=300w"></a>
                     </div>
                  </div>
               </nav>
            </div>
         </section>
         <section class="section about-team">
          <div class="container">
              <p class="above-header-text">key contributors</p>
              <p class="subtitle text-valign is-4 gradient-blue">this is who we are:</p>
              <p class="text">Lorem Khaled Ipsum is a major key to success. Learning is cool, but knowing is better, and I know the key to success. Surround yourself with angels, positive energy, beautiful people, beautiful souls, clean heart, angel.</p>
              <div class="spacer">&nbsp;</div>
              <div class="columns">
                <div class="column is-one-quarter">
                          <div class="person-card card">
                        <div class="card-image">
                           <figure class="image is-1by1">
                              <img src="https://images.pexels.com/photos/774909/pexels-photo-774909.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Placeholder image">
                           </figure>
                           <div class="today-sec">
                              <p class="label">Today's Featured Impact Player</p>
                              <p class="name">#8: Jane Doe</p>
                           </div>
                        </div>
                        <div class="card-content">
                           <!--         <div class="content"> -->
                           Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                           Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                           <a href="#">#css</a> <a href="#">#responsive</a>
                           <br>
                           <!--      </div> -->
                        </div>
                        <a href="#"><i class="fa-2x fas fa-long-arrow-alt-right"></i></a>
                     </div>
                </div>
                         <div class="column is-one-quarter">
                          <div class="person-card card">
                        <div class="card-image">
                           <figure class="image is-1by1">
                              <img src="https://images.pexels.com/photos/774909/pexels-photo-774909.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Placeholder image">
                           </figure>
                           <div class="today-sec">
                              <p class="label">Today's Featured Impact Player</p>
                              <p class="name">#8: Jane Doe</p>
                           </div>
                        </div>
                        <div class="card-content">
                           <!--         <div class="content"> -->
                           Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                           Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                           <a href="#">#css</a> <a href="#">#responsive</a>
                           <br>
                           <!--      </div> -->
                        </div>
                        <a href="#"><i class="fa-2x fas fa-long-arrow-alt-right"></i></a>
                     </div>
                </div>
                         <div class="column is-one-quarter">
                          <div class="person-card card">
                        <div class="card-image">
                           <figure class="image is-1by1">
                              <img src="https://images.pexels.com/photos/774909/pexels-photo-774909.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Placeholder image">
                           </figure>
                           <div class="today-sec">
                              <p class="label">Today's Featured Impact Player</p>
                              <p class="name">#8: Jane Doe</p>
                           </div>
                        </div>
                        <div class="card-content">
                           <!--         <div class="content"> -->
                           Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                           Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                           <a href="#">#css</a> <a href="#">#responsive</a>
                           <br>
                           <!--      </div> -->
                        </div>
                        <a href="#"><i class="fa-2x fas fa-long-arrow-alt-right"></i></a>
                     </div>
                </div>
                         <div class="column is-one-quarter">
                          <div class="person-card card">
                        <div class="card-image">
                           <figure class="image is-1by1">
                              <img src="https://images.pexels.com/photos/774909/pexels-photo-774909.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Placeholder image">
                           </figure>
                           <div class="today-sec">
                              <p class="label">Today's Featured Impact Player</p>
                              <p class="name">#8: Jane Doe</p>
                           </div>
                        </div>
                        <div class="card-content">
                           <!--         <div class="content"> -->
                           Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                           Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                           <a href="#">#css</a> <a href="#">#responsive</a>
                           <br>
                           <!--      </div> -->
                        </div>
                        <a href="#"><i class="fa-2x fas fa-long-arrow-alt-right"></i></a>
                     </div>
                </div>
              </div>
          </div>
         </section>
          <section class="section about-process">
            <div class="container">
              <p class="above-header-text">About Us</p>
              <p class="subtitle text-valign is-4 gradient-yb">our process:</p>
              <div class="columns">
                <div class="column is-half">
                  <div class="service-item">
              <span class="num">1</span>
              <h4>Interface Design</h4>
              <p class="text">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
                </div>
                <div class="column is-half">
                  <div class="service-item">
              <span class="num">2</span>
              <h4>Interface Design</h4>
              <p class="text">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
                </div>
              </div>
               <div class="columns">
                <div class="column is-half">
                  <div class="service-item">
              <span class="num">3</span>
              <h4>Interface Design</h4>
              <p class="text">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
                </div>
                <div class="column is-half">
                  <div class="service-item">
              <span class="num">4</span>
              <h4>Interface Design</h4>
              <p class="text">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
                </div>
              </div>
            </div>
          </section>
          <section class="section about-videos">
            <div class="container">
               <p class="above-header-text">Videos</p>
              <p class="subtitle text-valign is-4 gradient-yb">Words From Our Founders</p>
                    <div class="columns">
                        <div class="column is-6 is-offset-3">
                               <div class="carousel-video-container">
                  <figure class="image is-3by2 video-shadow">
                     <img src="https://images.unsplash.com/photo-1505682614136-0a12f9f7beea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80">
                     <a class="vid-button" href=""><i class="fas fa-sm fa-play"></i></a>
                     <div class="vid-text">
                        <span class="vid-latest-text">latest conversation</span>
                        <span class="vid-ts">11:21</span>
                     </div>
                     <div class="vid-text">
                        <span class="vid-title">89. Darrell Scott:</span>
                        <span class="vid-tagline">Get You a Good Squad</span> 
                     </div>
                  </figure>
               </div>
                        </div>
                    </div>
            </div>
          </section>
      </div>
{% endblock %}