{% extends 'partials/base.html.twig' %}

{% block content %}
          <div class="lc-section-convo">
         <section class="section vid-full">
            <div class="container">
               <div class="carousel-video-container">
                  <figure class="image is-2by1 video-shadow">
                     <img src="https://images.unsplash.com/photo-1505682614136-0a12f9f7beea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80">
                     <a class="vid-button" href=""><i class="fas fa-sm fa-play"></i></a>
                     <div class="vid-text">
                        <span class="vid-latest-text">latest conversation</span>
                        <span class="vid-ts">11:21</span>
                     </div>
                     <div class="vid-text">
                        <span class="vid-title">89. Darrell Scott:</span>
                        <span class="vid-tagline">Get You a Good Squad</span> 
                     </div>
                  </figure>
               </div>
            </div>
         </section>
         <section >
            <div class="container">
               <div class="columns">
                  <!-- outer -->
                  <div class="column is-three-quarters">
                     <!-- ddd -->
                     <div>
                        <p class="subtitle text-valign is-4 gradient-yb is-inline-block">technology<span class="see-more">see all 24 conversations</span></p>
                        <div class="columns">
                           <div class="column is-one-third">
                              <div class="recent-card card">
                                 <div class="card-image has-shadow">
                                    <figure class="image is-2by1">
                                       <img src="https://images.pexels.com/photos/733872/pexels-photo-733872.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">
                                       <a class="vid-button" href=""><i class="fas fa-play"></i></a>
                                    </figure>
                                 </div>
                                 <div class="card-content">
                                    <div class="">
                                       <p class="title-name has-text-left is-inline-block ">88. Gertrude Stein</p>
                                       <span class="timestamp is-pulled-right is-inline-block">11:21</span>
                                    </div>
                                    <p class="title is-6">how to be a boss</p>
                                    <p class="card-desc">Quis autem vel eum iure reprehendi qui in ea voluptate velit esse quam ni molestiae consequatur, vel illum quod maxime placeat.</p>
                                 </div>
                              </div>
                           </div>
                           <div class="column is-one-third">
                              <div class="recent-card card">
                                 <div class="card-image has-shadow">
                                    <figure class="image is-2by1">
                                       <img src="https://images.pexels.com/photos/733872/pexels-photo-733872.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">
                                       <a class="vid-button" href=""><i class="fas fa-play"></i></a>
                                    </figure>
                                 </div>
                                 <div class="card-content">
                                    <div class="">
                                       <p class="title-name has-text-left is-inline-block ">88. Gertrude Stein</p>
                                       <span class="timestamp is-pulled-right is-inline-block">11:21</span>
                                    </div>
                                    <p class="title is-6">how to be a boss</p>
                                    <p class="card-desc">Quis autem vel eum iure reprehendi qui in ea voluptate velit esse quam ni molestiae consequatur, vel illum quod maxime placeat.</p>
                                 </div>
                              </div>
                           </div>
                           <div class="column is-one-third">
                              <div class="recent-card card">
                                 <div class="card-image has-shadow">
                                    <figure class="image is-2by1">
                                       <img src="https://images.pexels.com/photos/733872/pexels-photo-733872.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">
                                       <a class="vid-button" href=""><i class="fas fa-play"></i></a>
                                    </figure>
                                 </div>
                                 <div class="card-content">
                                    <div class="">
                                       <p class="title-name has-text-left is-inline-block ">88. Gertrude Stein</p>
                                       <span class="timestamp is-pulled-right is-inline-block">11:21</span>
                                    </div>
                                    <p class="title is-6">how to be a boss</p>
                                    <p class="card-desc">Quis autem vel eum iure reprehendi qui in ea voluptate velit esse quam ni molestiae consequatur, vel illum quod maxime placeat.</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- ddd -->
                     <!-- ddd -->
                     <div>
                        <p class="subtitle text-valign is-4 gradient-yb is-inline-block">gender<span class="see-more">see all 24 conversations</span></p>
                        <div class="columns">
                           <div class="column is-one-third">
                              <div class="recent-card card">
                                 <div class="card-image has-shadow">
                                    <figure class="image is-2by1">
                                       <img src="https://images.pexels.com/photos/733872/pexels-photo-733872.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">
                                       <a class="vid-button" href=""><i class="fas fa-play"></i></a>
                                    </figure>
                                 </div>
                                 <div class="card-content">
                                    <div class="">
                                       <p class="title-name has-text-left is-inline-block ">88. Gertrude Stein</p>
                                       <span class="timestamp is-pulled-right is-inline-block">11:21</span>
                                    </div>
                                    <p class="title is-6">how to be a boss</p>
                                    <p class="card-desc">Quis autem vel eum iure reprehendi qui in ea voluptate velit esse quam ni molestiae consequatur, vel illum quod maxime placeat.</p>
                                 </div>
                              </div>
                           </div>
                           <div class="column is-one-third">
                              <div class="recent-card card">
                                 <div class="card-image has-shadow">
                                    <figure class="image is-2by1">
                                       <img src="https://images.pexels.com/photos/733872/pexels-photo-733872.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">
                                       <a class="vid-button" href=""><i class="fas fa-play"></i></a>
                                    </figure>
                                 </div>
                                 <div class="card-content">
                                    <div class="">
                                       <p class="title-name has-text-left is-inline-block ">88. Gertrude Stein</p>
                                       <span class="timestamp is-pulled-right is-inline-block">11:21</span>
                                    </div>
                                    <p class="title is-6">how to be a boss</p>
                                    <p class="card-desc">Quis autem vel eum iure reprehendi qui in ea voluptate velit esse quam ni molestiae consequatur, vel illum quod maxime placeat.</p>
                                 </div>
                              </div>
                           </div>
                           <div class="column is-one-third">
                              <div class="recent-card card">
                                 <div class="card-image has-shadow">
                                    <figure class="image is-2by1">
                                       <img src="https://images.pexels.com/photos/733872/pexels-photo-733872.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">
                                       <a class="vid-button" href=""><i class="fas fa-play"></i></a>
                                    </figure>
                                 </div>
                                 <div class="card-content">
                                    <div class="">
                                       <p class="title-name has-text-left is-inline-block ">88. Gertrude Stein</p>
                                       <span class="timestamp is-pulled-right is-inline-block">11:21</span>
                                    </div>
                                    <p class="title is-6">how to be a boss</p>
                                    <p class="card-desc">Quis autem vel eum iure reprehendi qui in ea voluptate velit esse quam ni molestiae consequatur, vel illum quod maxime placeat.</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- ddd -->
                     <!-- ddd -->
                     <div>
                        <p class="subtitle text-valign is-4 gradient-yb is-inline-block">race<span class="see-more">see all 24 conversations</span></p>
                        <div class="columns">
                           <div class="column is-one-third">
                              <div class="recent-card card">
                                 <div class="card-image has-shadow">
                                    <figure class="image is-2by1">
                                       <img src="https://images.pexels.com/photos/733872/pexels-photo-733872.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">
                                       <a class="vid-button" href=""><i class="fas fa-play"></i></a>
                                    </figure>
                                 </div>
                                 <div class="card-content">
                                    <div class="">
                                       <p class="title-name has-text-left is-inline-block ">88. Gertrude Stein</p>
                                       <span class="timestamp is-pulled-right is-inline-block">11:21</span>
                                    </div>
                                    <p class="title is-6">how to be a boss</p>
                                    <p class="card-desc">Quis autem vel eum iure reprehendi qui in ea voluptate velit esse quam ni molestiae consequatur, vel illum quod maxime placeat.</p>
                                 </div>
                              </div>
                           </div>
                           <div class="column is-one-third">
                              <div class="recent-card card">
                                 <div class="card-image has-shadow">
                                    <figure class="image is-2by1">
                                       <img src="https://images.pexels.com/photos/733872/pexels-photo-733872.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">
                                       <a class="vid-button" href=""><i class="fas fa-play"></i></a>
                                    </figure>
                                 </div>
                                 <div class="card-content">
                                    <div class="">
                                       <p class="title-name has-text-left is-inline-block ">88. Gertrude Stein</p>
                                       <span class="timestamp is-pulled-right is-inline-block">11:21</span>
                                    </div>
                                    <p class="title is-6">how to be a boss</p>
                                    <p class="card-desc">Quis autem vel eum iure reprehendi qui in ea voluptate velit esse quam ni molestiae consequatur, vel illum quod maxime placeat.</p>
                                 </div>
                              </div>
                           </div>
                           <div class="column is-one-third">
                              <div class="recent-card card">
                                 <div class="card-image has-shadow">
                                    <figure class="image is-2by1">
                                       <img src="https://images.pexels.com/photos/733872/pexels-photo-733872.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">
                                       <a class="vid-button" href=""><i class="fas fa-play"></i></a>
                                    </figure>
                                 </div>
                                 <div class="card-content">
                                    <div class="">
                                       <p class="title-name has-text-left is-inline-block ">88. Gertrude Stein</p>
                                       <span class="timestamp is-pulled-right is-inline-block">11:21</span>
                                    </div>
                                    <p class="title is-6">how to be a boss</p>
                                    <p class="card-desc">Quis autem vel eum iure reprehendi qui in ea voluptate velit esse quam ni molestiae consequatur, vel illum quod maxime placeat.</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- ddd -->
                     <!-- ddd -->
                     <div>
                        <p class="subtitle text-valign is-4 gradient-yb is-inline-block">society<span class="see-more">see all 24 conversations</span></p>
                        <div class="columns">
                           <div class="column is-one-third">
                              <div class="recent-card card">
                                 <div class="card-image has-shadow">
                                    <figure class="image is-2by1">
                                       <img src="https://images.pexels.com/photos/733872/pexels-photo-733872.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">
                                       <a class="vid-button" href=""><i class="fas fa-play"></i></a>
                                    </figure>
                                 </div>
                                 <div class="card-content">
                                    <div class="">
                                       <p class="title-name has-text-left is-inline-block ">88. Gertrude Stein</p>
                                       <span class="timestamp is-pulled-right is-inline-block">11:21</span>
                                    </div>
                                    <p class="title is-6">how to be a boss</p>
                                    <p class="card-desc">Quis autem vel eum iure reprehendi qui in ea voluptate velit esse quam ni molestiae consequatur, vel illum quod maxime placeat.</p>
                                 </div>
                              </div>
                           </div>
                           <div class="column is-one-third">
                              <div class="recent-card card">
                                 <div class="card-image has-shadow">
                                    <figure class="image is-2by1">
                                       <img src="https://images.pexels.com/photos/733872/pexels-photo-733872.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">
                                       <a class="vid-button" href=""><i class="fas fa-play"></i></a>
                                    </figure>
                                 </div>
                                 <div class="card-content">
                                    <div class="">
                                       <p class="title-name has-text-left is-inline-block ">88. Gertrude Stein</p>
                                       <span class="timestamp is-pulled-right is-inline-block">11:21</span>
                                    </div>
                                    <p class="title is-6">how to be a boss</p>
                                    <p class="card-desc">Quis autem vel eum iure reprehendi qui in ea voluptate velit esse quam ni molestiae consequatur, vel illum quod maxime placeat.</p>
                                 </div>
                              </div>
                           </div>
                           <div class="column is-one-third">
                              <div class="recent-card card">
                                 <div class="card-image has-shadow">
                                    <figure class="image is-2by1">
                                       <img src="https://images.pexels.com/photos/733872/pexels-photo-733872.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">
                                       <a class="vid-button" href=""><i class="fas fa-play"></i></a>
                                    </figure>
                                 </div>
                                 <div class="card-content">
                                    <div class="">
                                       <p class="title-name has-text-left is-inline-block ">88. Gertrude Stein</p>
                                       <span class="timestamp is-pulled-right is-inline-block">11:21</span>
                                    </div>
                                    <p class="title is-6">how to be a boss</p>
                                    <p class="card-desc">Quis autem vel eum iure reprehendi qui in ea voluptate velit esse quam ni molestiae consequatur, vel illum quod maxime placeat.</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- ddd -->
                     <!-- ddd -->
                     <div>
                        <p class="subtitle text-valign is-4 gradient-yb is-inline-block">staff picks<span class="see-more">see all 24 conversations</span></p>
                        <div class="columns">
                           <div class="column is-one-third">
                              <div class="recent-card card">
                                 <div class="card-image has-shadow">
                                    <figure class="image is-2by1">
                                       <img src="https://images.pexels.com/photos/733872/pexels-photo-733872.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">
                                       <a class="vid-button" href=""><i class="fas fa-play"></i></a>
                                    </figure>
                                 </div>
                                 <div class="card-content">
                                    <div class="">
                                       <p class="title-name has-text-left is-inline-block ">88. Gertrude Stein</p>
                                       <span class="timestamp is-pulled-right is-inline-block">11:21</span>
                                    </div>
                                    <p class="title is-6">how to be a boss</p>
                                    <p class="card-desc">Quis autem vel eum iure reprehendi qui in ea voluptate velit esse quam ni molestiae consequatur, vel illum quod maxime placeat.</p>
                                 </div>
                              </div>
                           </div>
                           <div class="column is-one-third">
                              <div class="recent-card card">
                                 <div class="card-image has-shadow">
                                    <figure class="image is-2by1">
                                       <img src="https://images.pexels.com/photos/733872/pexels-photo-733872.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">
                                       <a class="vid-button" href=""><i class="fas fa-play"></i></a>
                                    </figure>
                                 </div>
                                 <div class="card-content">
                                    <div class="">
                                       <p class="title-name has-text-left is-inline-block ">88. Gertrude Stein</p>
                                       <span class="timestamp is-pulled-right is-inline-block">11:21</span>
                                    </div>
                                    <p class="title is-6">how to be a boss</p>
                                    <p class="card-desc">Quis autem vel eum iure reprehendi qui in ea voluptate velit esse quam ni molestiae consequatur, vel illum quod maxime placeat.</p>
                                 </div>
                              </div>
                           </div>
                           <div class="column is-one-third">
                              <div class="recent-card card">
                                 <div class="card-image has-shadow">
                                    <figure class="image is-2by1">
                                       <img src="https://images.pexels.com/photos/733872/pexels-photo-733872.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">
                                       <a class="vid-button" href=""><i class="fas fa-play"></i></a>
                                    </figure>
                                 </div>
                                 <div class="card-content">
                                    <div class="">
                                       <p class="title-name has-text-left is-inline-block ">88. Gertrude Stein</p>
                                       <span class="timestamp is-pulled-right is-inline-block">11:21</span>
                                    </div>
                                    <p class="title is-6">how to be a boss</p>
                                    <p class="card-desc">Quis autem vel eum iure reprehendi qui in ea voluptate velit esse quam ni molestiae consequatur, vel illum quod maxime placeat.</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- ddd -->
                  </div>
                  <div class="column is-one-quarter">
                    <div class="spacer">&nbsp;</div>
                     <div class="person-card card">
                        <div class="card-image">
                           <figure class="image is-1by1">
                              <img src="https://images.pexels.com/photos/774909/pexels-photo-774909.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Placeholder image">
                           </figure>
                           <div class="today-sec">
                              <p class="label">Today's Featured Impact Player</p>
                              <p class="name">#8: Jane Doe</p>
                           </div>
                        </div>
                        <div class="card-content">
                           <!--         <div class="content"> -->
                           Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                           Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                           <a href="#">#css</a> <a href="#">#responsive</a>
                           <br>
                           <!--      </div> -->
                        </div>
                        <a href="#"><i class="fa-2x fas fa-long-arrow-alt-right"></i></a>
                     </div>
                     <div class="spacer">&nbsp;</div>
                     <div class="tags-section">
                       <p class="title__lower gradient-yb is-5">popular tags</p>
                       <div class="tags">
                        <a href="#" class="tag is-link">#music</a>
                        <a href="#" class="tag is-link">#volunteering</a>
                        <a href="#" class="tag is-link">#changemakers</a>
                        <a href="#" class="tag is-link">#changemakers</a>
                        <a href="#" class="tag is-link">#government</a>
                        <a href="#" class="tag is-link">#books</a>
                        <a href="#" class="tag is-link">#adversity</a>
                      </div>
                     </div>
                     <div class="spacer">&nbsp;</div>
                     <ol class="popular__list">
                        <p class="title__lower gradient-yellow is-5">currently popular</p>
                        <li>
                           <span class="popular__item">
                           <span class="is-inline-block left">84. Jane Doe:&nbsp;</span><span class="right is-inline-block">How to Help Others</span>
                           <span class="is-block bottom">TECHNOLOGY</span>
                           </span>
                        </li>
                        <li>
                           <span class="popular__item">
                           <span class="is-inline-block left">84. Jane Doe:&nbsp;</span><span class="right is-inline-block">How to Help Others</span>
                           <span class="is-block bottom">TECHNOLOGY</span>
                           </span>
                        </li>
                        <li>
                           <span class="popular__item">
                           <span class="is-inline-block left">84. Jane Doe:&nbsp;</span><span class="right is-inline-block">How to Help Others</span>
                           <span class="is-block bottom">TECHNOLOGY</span>
                           </span>
                        </li>
                        <li>
                           <span class="popular__item">
                           <span class="is-inline-block left">84. Jane Doe:&nbsp;</span><span class="right is-inline-block">How to Help Others</span>
                           <span class="is-block bottom">TECHNOLOGY</span>
                           </span>
                        </li>
                        <li>
                           <span class="popular__item">
                           <span class="is-inline-block left">84. Jane Doe:&nbsp;</span><span class="right is-inline-block">How to Help Others</span>
                           <span class="is-block bottom">TECHNOLOGY</span>
                           </span>
                        </li>
                     </ol>
                  </div>
               </div>
            </div>
         </section>
      </div>
{% endblock %}