{% extends 'partials/base.html.twig' %}
{% block content %}


<div class="home-hero">
  <div class="hero__text">
    <p style="color: #FFC80A;" class="hero__title">MEET THE CHANGEMAKERS
IMPROVING OUR WORLD:</p>
    <p class="hero__subtitle">These people represent a diverse range of industries, backgrounds, and skill sets. Collectively, they possess the power to change our world for the better, one way or another.</p>
    <a style="font-family: 'avenir' !important; font-weight: 300;" class="yellow darken-2 waves-effect waves-light btn">watch the stories</a>
    <a class="button button--outline-black" href="">share impact</a>
  </div>
  </div>
  <div class="section grey lighten-3">
    <div class="container">
      <h1 class="ttt">Featured People</h1>
      
      <div class="row">
        
        <div class="col s5 offset-s1">
          <div class="blog-card z-depth-1">
              <div class="meta">
                <div class="photo" style="background-image: url(https://images.pexels.com/photos/774909/pexels-photo-774909.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)"></div>
              </div>
              <div class="description">
                <h1>Jane Doe</h1>
                <h2>Changing Culture</h2>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
                <p class="read-more">
                  <a href="#">Read More</a>
                </p>
              </div>
            </div>
        </div>
        <div class="col s5">
          <div class="blog-card z-depth-1">
              <div class="meta">
                <div class="photo" style="background-image: url(https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)"></div>
              </div>
              <div class="description">
                <h1>Jane Doe</h1>
                <h2>Changing Culture</h2>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
                <p class="read-more">
                  <a href="#">Read More</a>
                </p>
              </div>
            </div>
        </div>
      </div>
      <div class="row">
        
        <div class="col s8 offset-s2">

        <p style="text-align: center; font-size: 18px !important; margin-top: 2rem !important; margin-bottom: 1.6rem !important; font-family: 'open sans' !important; font-weight: 300;">Subscribe today to 180º of Impact: The Podcast on iTunes or Stitcher to hear some of the conversations from this journey while you're on-the-go.</p>
          <div style="display: inline-block;margin-left: 10em;margin-bottom: 2em;">
                    <a style="font-family: 'avenir' !important; font-weight: 500; " class="yellow darken-2 waves-effect waves-light btn">listen on stitcher</a>
    <a style="font-family: 'avenir' !important; font-weight: 500;" class="yellow darken-2 waves-effect waves-light btn">listen on itunes</a>

    

                </div>
        </div>
            
      </div>
    </div>
    
  </div>
  <div class="yellow darken-2 section">
    <div class="container">
        <div class="row">
          <div><h1 class="ttf">Our Impact</h1></div>
            <div class="col s8 offset-s2">
                <div class="map__sec side-by-side">
          <div class="side cover-image watch-video" id="watch-video">
            <div class="mapouter">
              <div class="gmap_canvas">
                <iframe width="100%" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=university%20of%20san%20francisco&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">    
                </iframe>
              </div>
          </div>
          </div>
          <div class="white side">
            <div class="inner funding-info">
              <h2 class="d-label pb-1">With your help</h2>
              <h2 class="p10 pb-2">We’ve funded lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
              <a style="font-family: 'avenir' !important; margin-left: 9.5em; font-weight: 300;" class="center-align yellow darken-2 waves-effect waves-light btn">get involved</a>
            </div>
          </div>
        </div>
            </div>
        </div>

          <div class="row">
          <div id="counter">
        <div style="margin-top: 1.75em; margin-bottom: 1.2em;" class="row align-items-center">
          <div class="col s2 offset-s1">
            <i class="ifd material-icons">chat_bubble_outline</i>
              <div class="counter-value" data-count="26:58:58" data-desc="Of Total Conversations">29:28:44</div>
          </div>
          <div class="col s2">
            <i class="ifd material-icons">person_outline</i>
              <div class="counter-value" data-count="64%" data-desc="Women">64%</div>
          </div>
          <div class="col s2">
            <i class="ifd material-icons">person</i>
              <div class="counter-value" data-count="58%" data-desc="People Of Color">58%</div>
          </div>
          <div class="col s2">
            <i class="ifd material-icons">language</i>
               <div class="counter-value" data-count="17" data-desc="Countries Represented">17</div>
          </div>
          <div class="col s2">
            <i class="ifd material-icons">domain</i>
                <div class="counter-value" data-count="75+" data-desc="Organizations Represented">75+</div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>


<div class="section">
<div class="container">
  <div class="row">
    <h1 class="ttt">Recent & Popular Conversations</h1>
    <div class="col s3">
       <img class="z-depth-2 responsive-img" src="https://images.pexels.com/photos/1000738/pexels-photo-1000738.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
       <p class="featured-title featured-title__small">10/9: Making Change One Map at a Time</p>
       <p class="featured-subtitle">JANE ALEXANDER</p>
       <br>
      
    </div>
    <div class="col s3">
         <img class="z-depth-2 responsive-img" src="https://images.pexels.com/photos/584390/budapest-parliament-danube-hungary-584390.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
       <p class="featured-title featured-title__small">10/9: Making Change One Map at a Time</p>
       <p class="featured-subtitle">JANE ALEXANDER</p>
    </div>
    <div class="col s3">
         <img class="z-depth-2 responsive-img" src="https://images.pexels.com/photos/751682/pexels-photo-751682.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
       <p class="featured-title featured-title__small">10/9: Making Change One Map at a Time</p>
       <p class="featured-subtitle">JANE ALEXANDER</p>
    </div>
    
        <div class="col s3">
      <div class="lighten-5 ">
              <div class="row valign-wrapper">
                <div class="col s8">
                  <span class="black-text">
                     <p class="featured-title featured-title__small">10/9: Making Change One Map at a Time</p>
          <p class="featured-subtitle">JANE ALEXANDER</p>
                  </span>
                </div>
                <div class="col s4">
                  <img src="https://images.pexels.com/photos/221012/pexels-photo-221012.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" class="z-depth-2 responsive-img valign">
                </div>
              </div>
            </div>
            <br>
         
            <div class="lighten-5 ">
              <div class="row valign-wrapper">
                <div class="col s8">
                  <span class="black-text">
                     <p class="featured-title featured-title__small">10/9: Making Change One Map at a Time</p>
          <p class="featured-subtitle">JANE ALEXANDER</p>
                  </span>
                </div>
                <div class="col s4">
                  <img src="https://images.pexels.com/photos/356040/pexels-photo-356040.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" class="z-depth-2 responsive-img valign">
                </div>
              </div>
            </div>
            <br>

          

    </div>

  </div>

</div>
</div>
  <div class="section">
    <div class="container">
           <div class="row">
      <div class="col pbz center s3">
         <article class="tease  ">
            <figure class="tease__figure">
               <a href="" class="tease__image-link">
               <img src="https://images.pexels.com/photos/1437907/pexels-photo-1437907.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="tease__image" scale="0">
               </a>
            </figure>
            <div class="tease__text-card-wrapper">
               <div class="tease__text-card">
                  <div class="tease__post-type">
                     <a href="">
                     Culture
                     </a>
                  </div>
                  <h3 class="tease__title"><a href="midcentury-modern-moscow-mule-martini-cocktail-recipe/">How to Lorem Ipsum Lorem Ipsum</a></h3>
                  <p class="tease__dek">
                     At vero eos et accusamus et iusto odio.  Nam libero tempore, cum soluta nobis est bleh.
                  </p>
                  <div class="share-links">
                     <i style="font-size: 0.8em !important;" class="center fab fa-facebook-f grey-text darken-4"></i>
                     <i style="font-size: 0.8em !important;" class="center fab fa-twitter grey-text darken-4"></i>
                     <i style="font-size: 0.8em !important;" class="center fab fa-pinterest grey-text darken-4"></i>
                     <i class="fa fa-envelope grey-text darken-4"></i>
                  </div>
                  <ul class="tease__credits">
                     <li class="tease__credit">
                        story: <span class="tease__credit--name">
                        <a href="/author/punch-staff/">
                        Jane Doe
                        </a>
                        </span>
                     </li>
                     <li class="tease__credit">tags: <span class="tease__credit--name"><a href="http://www.lizziemunro.com/">#community #change</a></span></li>
                  </ul>
               </div>
            </div>
         </article>
      </div>
      <div class="col pbz center s3">
         <article class="tease  ">
            <figure class="tease__figure">
               <a href="midcentury-modern-moscow-mule-martini-cocktail-recipe/" class="tease__image-link">
               <img src="https://images.pexels.com/photos/270186/pexels-photo-270186.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="tease__image" scale="0">
               </a>
            </figure>
            <div class="tease__text-card-wrapper">
               <div class="tease__text-card">
                  <div class="tease__post-type">
                     <a href="/article/cocktails/">
                     Culture
                     </a>
                  </div>
                  <h3 class="tease__title"><a href="midcentury-modern-moscow-mule-martini-cocktail-recipe/">How to Lorem Ipsum Lorem Ipsum</a></h3>
                  <p class="tease__dek">
                     At vero eos et accusamus et iusto odio.  Nam libero tempore, cum soluta nobis est bleh.
                  </p>
                  <div class="share-links">
                     <i style="font-size: 0.8em !important;" class="center fab fa-facebook-f grey-text darken-4"></i>
                     <i style="font-size: 0.8em !important;" class="center fab fa-twitter grey-text darken-4"></i>
                     <i style="font-size: 0.8em !important;" class="center fab fa-pinterest grey-text darken-4"></i>
                     <i class="fa fa-envelope grey-text darken-4"></i>
                  </div>
                  <ul class="tease__credits">
                     <li class="tease__credit">
                        story: <span class="tease__credit--name">
                        <a href="/author/punch-staff/">
                        Jane Doe
                        </a>
                        </span>
                     </li>
                     <li class="tease__credit">tags: <span class="tease__credit--name"><a href="http://www.lizziemunro.com/">#community #change</a></span></li>
                  </ul>
               </div>
            </div>
         </article>
      </div>
      <div class="col pbz center s3">
         <article class="tease  ">
            <figure class="tease__figure">
               <a href="midcentury-modern-moscow-mule-martini-cocktail-recipe/" class="tease__image-link">
               <img src="https://images.pexels.com/photos/106052/pexels-photo-106052.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="tease__image" scale="0">
               </a>
            </figure>
            <div class="tease__text-card-wrapper">
               <div class="tease__text-card">
                  <div class="tease__post-type">
                     <a href="/article/cocktails/">
                     Culture
                     </a>
                  </div>
                  <h3 class="tease__title"><a href="midcentury-modern-moscow-mule-martini-cocktail-recipe/">How to Lorem Ipsum Lorem Ipsum</a></h3>
                  <p class="tease__dek">
                     At vero eos et accusamus et iusto odio.  Nam libero tempore, cum soluta nobis est bleh.
                  </p>
                  <div class="share-links">
                     <i style="font-size: 0.8em !important;" class="center fab fa-facebook-f grey-text darken-4"></i>
                     <i style="font-size: 0.8em !important;" class="center fab fa-twitter grey-text darken-4"></i>
                     <i style="font-size: 0.8em !important;" class="center fab fa-pinterest grey-text darken-4"></i>
                     <i class="fa fa-envelope grey-text darken-4"></i>
                  </div>
                  <ul class="tease__credits">
                     <li class="tease__credit">
                        story: <span class="tease__credit--name">
                        <a href="/author/punch-staff/">
                        Jane Doe
                        </a>
                        </span>
                     </li>
                     <li class="tease__credit">tags: <span class="tease__credit--name"><a href="http://www.lizziemunro.com/">#community #change</a></span></li>
                  </ul>
               </div>
            </div>
         </article>
      </div>
   </div>
    </div>
  </div>


<div class="section grey lighten-3">
  <div class="container">
    <div class="row">
      <h1 class="ttt">How to Get Involved</h1>
        <div class="col s5 offset-s1">
       <img class="z-depth-2 responsive-img" src="https://static1.squarespace.com/static/582b1a796b8f5b41b55eaf49/t/585320c029687fa7198f239c/1481842881531/SXSWPOTUS.jpg?format=1500w">
       <div class="sqs-block-content"><figure>
        <blockquote>
          <span>“</span>The most important office in a democracy is the office of citizen.<span>”</span>
        </blockquote>
        <figcaption class="source">— Barack Obama</figcaption>
      </figure>
      </div>
          </div>
        <div class="col s5">
          <form class="f-form" action="#" method="post" name="sign up for beta form">
              <div class="f-header">
                 <p>Sign Up For Beta</p>
              </div>
              <div class="f-description">
                <p>Milkshake is almost ready. If you're interested in testing it out, then sign up below to get exclusive access.</p>
              </div>
              <div class="f-input">
                <input type="text" class="f-button" id="f-email" name="email" placeholder="NAME@EXAMPLE.COM">
                <input type="submit" class="f-button" id="f-submit" value="SIGN UP">
              </div>
            </form>
        </div>
    </div>
  </div>
</div>
<div class="section grey lighten-3">
  <div class="container">
    <div class="row" style="display: inline-block;">
      <img class="si" src="https://static1.squarespace.com/static/582b1a796b8f5b41b55eaf49/5ba970598165f522e475be34/5ba97059085229e608f0b291/1537832850095/947084_1013309635358981_7661660279413136191_n.jpg?format=300w">
      <img class="si" src="https://static1.squarespace.com/static/582b1a796b8f5b41b55eaf49/5ba970598165f522e475be34/5ba9785eeef1a1205e2bcd05/1537833120617/f153cdb8df8f0cdb60f49cce9390aa18.jpg?format=300w">
      <img class="si" src="https://static1.squarespace.com/static/582b1a796b8f5b41b55eaf49/5ba970598165f522e475be34/5ba9767124a694c2396cb8f9/1537832623990/20170606_174910_148670_mmsizzle_final_2mp400_01_23_13still001.jpeg?format=300w">
      <img class="si" src="https://static1.squarespace.com/static/582b1a796b8f5b41b55eaf49/5ba970598165f522e475be34/5ba9707f9140b71d9272c022/1537832785893/6195a7d939346b0b13c69beb78e383271133c74e49da96730ac956da4ec4c7e3.jpg?format=300w">
      <img class="si" src="https://static1.squarespace.com/static/582b1a796b8f5b41b55eaf49/5ba970598165f522e475be34/5ba9707f53450af1f8dd8d37/1537832762208/CHANGEMAKER_3000.jpg?format=300w">
      <img class="si" src="https://static1.squarespace.com/static/582b1a796b8f5b41b55eaf49/5ba970598165f522e475be34/5ba970f1e5e5f018ed0b067a/1537832735358/mic+round+table+chats.jpg?format=300w">
      <img class="si" src="https://static1.squarespace.com/static/582b1a796b8f5b41b55eaf49/5ba970598165f522e475be34/5ba9744c8165f522e475eb03/1537832714523/optionb-share-image.png?format=300w">
      <img class="si" src="https://static1.squarespace.com/static/582b1a796b8f5b41b55eaf49/5ba970598165f522e475be34/5ba974a3f4e1fc2155f0238e/1537832679928/9QZinSho_400x400.jpg?format=300w">
      <img class="si" src="https://static1.squarespace.com/static/582b1a796b8f5b41b55eaf49/5ba970598165f522e475be34/5ba975288165f522e475f419/1537832663874/logocircular.png?format=300w">
    </div>
  </div>
</div>   

  <!-- <div class="container sec1">
    <div class="row text-center align-items-center">
      <div class="col s6">

      </div>

      
    </div>
  </div>
 -->
{% endblock %}