{% extends 'partials/base.html.twig' %}

{% block content %}
          <div class="lc-section-home">
         <section class="section hero hero-bg is-primary">
            <div class="container">
               <div class="home-header-text">
                  <p class="title gradient-yellow">meet the</p>
                  <br>
                  <p class="title gradient-yellow">changemakers</p>
                  <br>
                  <p class="title gradient-yellow">improving our world</p>
                  <p class="text">Representing a diverse range of industries, backgrounds, & skill sets, they collectively possess the power to change our world for the better.</p>
                  <a href="#" class="about-button is-inline-block">Watch the video</a>
                  <a href="#" class="about-button is-inline-block">learn more</a>


                  <!-- <div class="button-center is-inline-block">
                    <div class="border transp-button">
                      <a class=""><span>load more conversations</span></a>
                    </div>
                  </div>
                  <div class="button-center is-inline-block">
                    <div class="border transp-button">
                      <a class=""><span>load more conversations</span></a>
                    </div>
                  </div> -->
               </div>
            </div>
         </section>
         <section class="section home-featured-players">
            <div class="container">
                <div class="has-text-centered">
                  <p class="subtitle  is-4 gradient-yb">today's featured impact players</p>
                </div>
               <div class="sizer">
                  <div class="columns">
                    {% for post in taxonomy.findTaxonomy({'setFeatured':'1'}) %}
                      <h1>{{ post.title }}</h1>
                  {% endfor %}
                  
                     <div class="column is-one-third">
                        <div class="person-card card">
                           <div class="card-image">
                              <figure class="image is-1by1">
                                 <img src="https://images.pexels.com/photos/774909/pexels-photo-774909.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Placeholder image">
                              </figure>
                              <div class="today-sec">
                                 <p class="label">Today's Featured Impact Player</p>
                                 <p class="name">#8: Jane Doe</p>
                              </div>
                           </div>
                           <div class="card-content">
                              <!--         <div class="content"> -->
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                              Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                              <a href="#">#css</a> <a href="#">#responsive</a>
                              <br>
                              <!--      </div> -->
                           </div>
                           <a href="#"><i class="fa-2x fas fa-long-arrow-alt-right"></i></a>
                        </div>
                     </div>
                     <div class="column is-one-third">
                        <div class="person-card card">
                           <div class="card-image">
                              <figure class="image is-1by1">
                                 <img src="https://images.pexels.com/photos/774909/pexels-photo-774909.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Placeholder image">
                              </figure>
                              <div class="today-sec">
                                 <p class="label">Today's Featured Impact Player</p>
                                 <p class="name">#8: Jane Doe</p>
                              </div>
                           </div>
                           <div class="card-content">
                              <!--         <div class="content"> -->
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                              Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                              <a href="#">#css</a> <a href="#">#responsive</a>
                              <br>
                              <!--      </div> -->
                           </div>
                           <a href="#"><i class="fa-2x fas fa-long-arrow-alt-right"></i></a>
                        </div>
                     </div>
                     <div class="column is-one-third">
                        <div class="person-card card">
                           <div class="card-image">
                              <figure class="image is-1by1">
                                 <img src="https://images.pexels.com/photos/774909/pexels-photo-774909.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Placeholder image">
                              </figure>
                              <div class="today-sec">
                                 <p class="label">Today's Featured Impact Player</p>
                                 <p class="name">#8: Jane Doe</p>
                              </div>
                           </div>
                           <div class="card-content">
                              <!--         <div class="content"> -->
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                              Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                              <a href="#">#css</a> <a href="#">#responsive</a>
                              <br>
                              <!--      </div> -->
                           </div>
                           <a href="#"><i class="fa-2x fas fa-long-arrow-alt-right"></i></a>
                        </div>
                     </div>
                  </div>
                  <p class="text">Get to know Stephenie Foster, Deloris Wilson, & Rachel MacKnight on <a href="#">Soundcloud</a>, <a href="#">iTunes</a>, or <a href="#">Stitcher</a>, and read more on <a href="#">ThriveGlobal</a></p>
                  <div class="btns">
                  <a class="button is-primary is-inline-block">
                    <span class="icon">
                      <i class="fab fa-twitter"></i>
                    </span>
                    <span>listen on itunes</span>
                  </a>
                  <a class="button is-primary is-inline-block">
                    <span class="icon">
                      <i class="fab fa-twitter"></i>
                    </span>
                    <span>listen on stitcher</span>
                  </a>
                </div>
               </div>
            </div>
         </section>
         <section class="section home-impact">
          <div class="container">
             <div class="has-text-centered">
                <p class="subtitle is-4 gradient-blue">our impact</p>
              </div>
               <div class="sizer">
            <div class="columns">
              <div class="column is-8 is-offset-2">
                    <div class="map__sec side-by-side">
          <div class="side">
            <div class="mapouter">
              <div class="gmap_canvas">
                <iframe width="100%" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=university%20of%20san%20francisco&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">    
                </iframe>
              </div>
          </div>
          </div>
          <div class="side">
            <div class="info">
              <h2 class="above">why we do what we do</h2>
              <h2 class="main">“The most important office in a democracy is the office of citizen”</h2>
              <h2 class="cite">&mdash;Barack Obama</h2>
            </div>
          </div>
        </div>
        <p class="text">Get to know Stephenie Foster, Deloris Wilson, & Rachel MacKnight on <a href="#">Soundcloud</a>, <a href="#">iTunes</a>, or <a href="#">Stitcher</a>, and read more on <a href="#">ThriveGlobal</a></p>
              </div>
            </div>
          </div>
         </section>
         <section class="section home-stats">
                <div class="has-text-centered">
                  <p class="subtitle  is-4 gradient-yb">our stats</p>
                </div>
                  <nav class="level is-mobile">
                    <div class="level-item has-text-centered">
                      <div>
                        <i class="fas fa-heart"></i>
                        <p class="num">36+</p>
                        <p class="heading">hours of conversations</p>
                      </div>
                    </div>
                    <div class="level-item has-text-centered">
                      <div>
                        <i class="fas fa-heart"></i>
                        <p class="num">66%</p>
                        <p class="heading">women</p>
                      </div>
                    </div>
                    <div class="level-item has-text-centered">
                      <div>
                        <i class="fas fa-heart"></i>
                        <p class="num">43%</p>
                        <p class="heading">people of color</p>
                      </div>
                    </div>
                    <div class="level-item has-text-centered">
                      <div>
                        <i class="fas fa-heart"></i>
                        <p class="num">17</p>
                        <p class="heading">countries represented</p>
                      </div>
                    </div>
                    <div class="level-item has-text-centered">
                      <div>
                        <i class="fas fa-heart"></i>
                        <p class="num">100+</p>
                        <p class="heading">organizations represented</p>
                      </div>
                    </div>
                  </nav>
                <p class="text">Get to know Stephenie Foster, Deloris Wilson, & Rachel MacKnight on <a href="#">Soundcloud</a>, <a href="#">iTunes</a>, or <a href="#">Stitcher</a>, and read more on <a href="#">ThriveGlobal</a></p>
         </section>
                     <section class="section hero is-primary home-recent">
               <div class="container">
                  <div class="has-text-centered">
               <p class="title gradient-yellow">Recent Posts</p>
            </div>
               
                  <div class="columns">
                                          <div class="column is-one-third">
                <!-- start featured -->
                  <div class="featured-card card">
                     <div class="card-image">
                        <figure class="image is-2by1">
                           <img src="https://images.pexels.com/photos/375880/pexels-photo-375880.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Placeholder image">
                        </figure>
                        <div class="tease__post-type">
                           <a href="#">Culture</a>
                        </div>
                     </div>
                     <div class="card-content">
                        <p class="title is-5">84. John Smith</p>
                        <p class="card-desc">Quis autem vel eum iure reprehendi qui in ea voluptate velit esse quam ni molestiae consequatur, vel illum quod maxime placeat.</p>
                        <div class="card-tags">
                           <a class="tag" href="#">#css</a>
                           <a class="tag" href="#">#responsive</a>
                           <a class="tag" href="#">#tech</a>
                        </div>
                     </div>
                  </div>
                  <!-- end featured -->
               </div>
                              <div class="column is-one-third">
                <!-- start featured -->
                  <div class="featured-card card">
                     <div class="card-image">
                        <figure class="image is-2by1">
                           <img src="https://images.pexels.com/photos/375880/pexels-photo-375880.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Placeholder image">
                        </figure>
                        <div class="tease__post-type">
                           <a href="#">Culture</a>
                        </div>
                     </div>
                     <div class="card-content">
                        <p class="title is-5">84. John Smith</p>
                        <p class="card-desc">Quis autem vel eum iure reprehendi qui in ea voluptate velit esse quam ni molestiae consequatur, vel illum quod maxime placeat.</p>
                        <div class="card-tags">
                           <a class="tag" href="#">#css</a>
                           <a class="tag" href="#">#responsive</a>
                           <a class="tag" href="#">#tech</a>
                        </div>
                     </div>
                  </div>
                  <!-- end featured -->
               </div>
                              <div class="column is-one-third">
                <!-- start featured -->
                  <div class="featured-card card">
                     <div class="card-image">
                        <figure class="image is-2by1">
                           <img src="https://images.pexels.com/photos/375880/pexels-photo-375880.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Placeholder image">
                        </figure>
                        <div class="tease__post-type">
                           <a href="#">Culture</a>
                        </div>
                     </div>
                     <div class="card-content">
                        <p class="title is-5">84. John Smith</p>
                        <p class="card-desc">Quis autem vel eum iure reprehendi qui in ea voluptate velit esse quam ni molestiae consequatur, vel illum quod maxime placeat.</p>
                        <div class="card-tags">
                           <a class="tag" href="#">#css</a>
                           <a class="tag" href="#">#responsive</a>
                           <a class="tag" href="#">#tech</a>
                        </div>
                     </div>
                  </div>
                  <!-- end featured -->
               </div>
                  </div>
                  
               </div>
               <div class="button-center">
                    <div class="border transp-button">
                      <a class=""><span>see all</span></a>
                    </div>
                  </div>
            </section>
            <section class="section home-subscribe-text">
              <div class="container">
                <div class="columns">
                  <div class="column is-8 is-offset-2">
                    <p class="text">
                      <strong>Nobody likes receiving too many emails.</strong> Even less people like sending too many emails (hint hint).  That's why, when you sign up to receive emails from project 180° of Impact, <strong>we'll only use your email to share 180 of Impact features!</strong>
                    </p>
                  </div>
                </div>
                
              </div>
            </section>
      </div>
{% endblock %}