{% extends 'partials/base.html.twig' %}

{% block content %}

      <!--   start homepage -->
      <div class="lc-section-involved">
         <section class="hero hero-bg is-primary">
            <div class="container">
               <div class="columns">
                  <div class="column is-two-thirds">
                     <h1 class="title gradient-yellow has-text-left">Get involved</h1>
                     <div class="add-margins-right">
                        <h2 class="subtitle has-text-left">
                           Calling all social entrepreneurs and changemakers:
                        </h2>
                        <p class="subtext"> You're impacting the world for the better and, at 180o of Impact, we want to know how! Tell us about where and how you're making an impact and we may feature you in 180o, whether in our newsletter, on our social media or in a video interview.</p>
                     </div>
                  </div>
                  <div class="column is-one-third">
                     <img class="img-border" src="https://static1.squarespace.com/static/582b1a796b8f5b41b55eaf49/5a11dd240d929777956cf8b8/5a11dd248165f561f54155c5/1511120164784/erik+planning.jpg?format=2500w">
                  </div>
               </div>
            </div>
         </section>
         <section class="section">
            <div class="form-container">
               <!-- asdfasdfl'a;s
                  a;sdlfjas;ldkfj
                  a;sldkfja;slkdfjas;kldf -->
               <form class="form">
                  <p>Once you submit, send photos of your work to hello@lets.care and they may be highlighted on 180o.</p>
                  <br>
                  <!-- <div class="border"> -->
                  <div class="form__group">
                     <input type="text" class="form__field" placeholder="First Name">
                     <input type="text" class="form__field" placeholder="Last Name">
                  </div>
                  <div class="form__group">
                     <input type="email" id="nameInput" class="form__field" placeholder="Email Address">
                  </div>
                  <div class="form__group">
                     <input type="text" class="form__field" placeholder="Subject">
                  </div>
                  <div class="form__group">
                     <textarea name="message" class="form__field" rows="10" cols="30" placeholder="The cat was playing in the garden"></textarea>
                  </div>
                  <div class="button-center">
                     <div class="border transp-button">
                        <a class=""><span>submit</span></a>
                     </div>
                  </div>
               </form>
               <!-- a;sdkslkdasdfasd;
                  a;sdkfjas;dkffas;
                  ;asdkfja;skdfjas; -->
            </div>
         </section>
      </div>
{% endblock %}