 <!-- start footer stuffs -->
      <div class="subscribe">
         <!--   <div class="content has-text-centered"> -->
         <div class="content">
            <h1 class="subscribe__title">Get 180° in your inbox</h1>
            <div class="outer">
               <form class="form is-inline-block">
                  <div class="form__group">
                     <input type="text" class="form__field" placeholder="First Name">
                     <input type="text" class="form__field" placeholder="Last Name">
                  </div>
                  <div class="form__group">
                     <input type="email" id="nameInput" class="form__field" placeholder="Email Address">
                  </div>
               </form>
               <div class="is-inline-block" style="margin-left: 10%;">
                  <a class="button is-rounded">stay up to date</a>
               </div>
            </div>
         </div>
      </div>
      <footer class="footer">
         <div class="content">
            <div class="footer__links">
               <div class="media">
                  <img class="item footer__logo" src="{{ url('theme://images/logo.png') }}">
               </div>
               <div class="item">
                  <div class="socials is-pulled-right">
                     <a href=""><i class="has-text-white fab fa-facebook-f"></i></a>
                     <a href=""><i class="has-text-white fab fa-twitter"></i></a>
                     <a href=""><i class="has-text-white fab fa-pinterest-p"></i></a>
                     <a href=""><i class="has-text-white fab fa-linkedin-in"></i></a>
                     <a href=""><i class="has-text-white far fa-envelope"></i></a>
                  </div>
               </div>
            </div>
            <div class="footer__links">
               <a href="#" class="item">Home</a>
               <a href="#" class="item">About</a>
               <a href="#" class="item">Conversations</a>
               <a href="#" class="item">Categories</a>
               <a href="#" class="item">Contact</a>
               <a href="#" class="item">Get Involved</a>
            </div>
         </div>
      </footer>
      <!-- end footer stuffs -->