<div id="nav">
  <div class="nav__top">
    <div class="nav__top--inner">
    <p class="recent__text">Most recent post:&nbsp;&nbsp;</p><a class="recent__link">Lorem Ipsum</a>
    <i class="socials fa fa-facebook-f"></i>
    <i class="socials fa fa-twitter"></i>
    <i class="socials fa fa-instagram"></i>
    <i class="socials fa fa-pinterest-p"></i>
    <i class="socials fa fa-search"></i>
    </div>
    </div>



    <div class="nav__bottom">

        <div class="nav__bottom--inner">
          <img class="logo" src="{{ 'assets/images/logo.png'|theme }}">
          <ul class="nav-links">
          <li class="nav-links__item">About</li>
          <li class="nav-links__item">Contact</li>
          <li class="nav-links__item">Tech</li>
          <li class="nav-links__item">Gender</li>
          <li class="nav-links__item">Race</li>
          <li class="nav-links__item">Culture</li>
          <li class="nav-links__item">More</li>
          <div class="l"></div>
          <li class="nav-links__item l2">Get involved</li>
          <li class="nav-links__item"><div class="button">Let's Go!</div></li>
        </ul>

          </div>
      </div>
  </div>